* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: #424143;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: hsl(0, 0%, 98%);
}
@media (min-width: 1200px) {
  .header {
    justify-content: flex-start;
    gap: 1rem;
    position: fixed;
    width: 100%;
    box-shadow: 0 0 0.3rem hsl(0, 0%, 41%);
  }
}
.header__menu {
  display: block;
  border: 0;
  cursor: pointer;
  z-index: 1;
  margin-right: 2rem;
}
@media (min-width: 1200px) {
  .header__menu {
    display: none;
  }
}
.header__menu--close {
  align-self: flex-end;
}
.header__bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 7rem;
  height: 3rem;
  background-color: #E52812;
}
@media (min-width: 1200px) {
  .header__bg {
    width: 10rem;
  }
}
.header__bg::after {
  content: "";
  width: 100px;
  height: 0;
  position: absolute;
  top: 3rem;
  right: 0;
  border-top: 2rem solid #E52812;
  border-left: 0rem solid hsl(0, 0%, 98%);
  border-right: 2rem solid hsl(0, 0%, 98%);
}
@media (min-width: 1200px) {
  .header__bg::after {
    width: 8rem;
  }
}

.logo {
  width: 10rem;
}
@media (min-width: 1200px) {
  .logo {
    width: 17rem;
    margin-left: 5rem;
  }
}

.navbar--close {
  display: none;
}
@media (min-width: 1200px) {
  .navbar--close {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 60vw;
  height: 100vmax;
  flex-grow: 1;
  padding: 1.2rem;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
}
.navbar__list {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
@media (min-width: 1200px) {
  .navbar__list {
    font-weight: bold;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 70%;
  }
}
.navbar__list li a {
  text-decoration: none;
  color: #424143;
}
.navbar__list li a:hover {
  color: #E52812;
}
.navbar__auth {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 7rem;
  background-color: #E52812;
  color: hsl(0, 0%, 98%);
  height: 2.5rem;
  border-radius: 15px;
}
@media (min-width: 1200px) {
  .navbar__auth {
    font-weight: bold;
    width: 10rem;
    margin: 0;
    z-index: 1;
    height: 0rem;
  }
}
.navbar__auth li a {
  text-decoration: none;
  color: hsl(0, 0%, 98%);
}
.navbar__auth li a:hover {
  color: #424143;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  text-align: center;
  gap: 3rem;
}
@media (min-width: 1200px) {
  .hero {
    flex-direction: row;
    align-items: start;
    text-align: start;
    gap: 8rem;
    padding: 12rem 6.5rem 6.5rem 6.5rem;
  }
}
.hero__container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.hero__tittle {
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .hero__tittle {
    font-size: 1.7rem;
    line-height: 2.7rem;
  }
}
.hero__paragraph {
  margin: 0 2rem 0 2rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
@media (min-width: 1200px) {
  .hero__paragraph {
    font-size: 1.2rem;
    line-height: 2.2rem;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .hero__form {
    align-self: center;
  }
}
.hero__cta {
  width: 11rem;
  height: 3rem;
  border-radius: 1.5rem;
  background-color: #E52812;
  color: hsl(0, 0%, 98%);
  font-size: 1rem;
  font-weight: 700;
  box-shadow: 0 0 0.3rem hsl(0, 0%, 41%);
  border: none;
  cursor: pointer;
  margin-top: 1.5rem;
}
@media (min-width: 1200px) {
  .hero__cta {
    margin-top: 2rem;
  }
}
.hero__image {
  width: 22rem;
  margin-top: 1.5rem;
}
@media (min-width: 1200px) {
  .hero__image {
    width: 25rem;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  text-align: center;
  gap: 3rem;
}
@media (min-width: 1200px) {
  .about {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: start;
    gap: 6.2rem;
  }
}
.about__container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
@media (min-width: 1200px) {
  .about__container--order0 {
    order: 0;
    border: 3px solid geen;
  }
}
@media (min-width: 1200px) {
  .about__container--order1 {
    order: 1;
    align-items: center;
  }
}
.about__tittle {
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .about__tittle {
    font-size: 1.7rem;
    line-height: 2.7rem;
  }
}
.about__paragraph {
  margin: 0 2rem 0 2rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
@media (min-width: 1200px) {
  .about__paragraph {
    font-size: 1.2rem;
    line-height: 2.2rem;
    margin: 0;
  }
}
.about__image {
  width: 22rem;
  margin-top: 1.5rem;
}
@media (min-width: 1200px) {
  .about__image {
    margin-top: 8rem;
    width: 32rem;
  }
}

.stats {
  border-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5rem;
}
@media (min-width: 1200px) {
  .stats {
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: row;
    gap: 14rem;
    margin: 0 6.5rem 0 6.5rem;
  }
}
.stats__image {
  max-width: 60%;
}
.stats__number {
  font-size: 5rem;
  font-weight: 700;
  color: #E52812;
}
.stats__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 10rem;
}
.stats__text {
  padding: 0 0.2rem 0 0.2rem;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  padding: 3rem;
}
.services__tittle {
  font-size: 1.5rem;
  line-height: 2.2rem;
  margin-top: 2rem;
}
.services__dividing {
  background: linear-gradient(90deg, rgb(229, 40, 18) 0%, rgb(66, 65, 67) 100%);
  width: 100%;
  height: 0.4rem;
  border-radius: 5px;
  box-shadow: 0 0 0.3rem hsl(0, 0%, 41%);
}
@media (min-width: 1200px) {
  .services__cards {
    display: flex;
    gap: 1.5rem;
  }
}
.services__card {
  margin-top: 2rem;
  border: 3px solid hsl(0, 0%, 41%);
  border-radius: 1.55rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  text-align: start;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0 0 0.3rem hsl(0, 0%, 41%);
}
.services__card-tittle {
  font-size: 1.8rem;
  padding: 1rem;
  text-align: center;
}
.services__card-description {
  padding: 0 1.5rem 0 1.5rem;
}
.services__card-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}
.services__card-button {
  width: 11rem;
  height: 3rem;
  border-radius: 1.5rem;
  color: hsl(0, 0%, 98%);
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #E52812;
  box-shadow: 0 0 0.3rem hsl(0, 0%, 41%);
  border: none;
  cursor: pointer;
}
.services__card-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 1.5rem 1.5rem 3rem;
  list-style-image: url(../../../images/icon-check-list.svg);
}

/*# sourceMappingURL=main.css.map */
