.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5rem;
  text-align: center;
  gap: 3rem;
  font-size: .8rem;
  margin-top: 3rem;
  @media (min-width: $xl) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: start;
    gap: 5.5rem;
    padding: 0 6.5rem 6.5rem 6.5rem;
  
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    &--order0 {
      @media (min-width: $xl) {
        order: 0;
        border: 3px solid geen;
      }
    }
    &--order1 {
      @media (min-width: $xl) {
        order: 1;
        align-items: center;
      }
    }
  }
  &__tittle {
    font-size: 1rem;
    line-height: 1.55rem;
    font-weight: $font-weight-bold;
    @media (min-width: $xl) {
      font-size: 1.7rem;
      line-height: 2.7rem;
    }
  }
  &__paragraph {
    margin: 0 1.3rem 0 1.3rem;
    font-size: .8rem;
    line-height: 1.35rem;
    @media (min-width: $xl) {
      font-size: 1.2rem;
      line-height: 2.2rem;
      margin: 0;
    }
  }
  &__image {
    width: 15.9rem;
    @media (min-width: $xl) {
      margin-top: 8rem;
      width: 29.75rem;
    }
  }
}