.about {
  // border: 3px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  text-align: center;
  gap: 3rem;
  @media (min-width: $xl) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: start;
    gap: 6.2rem;
  
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    &--order0 {
      @media (min-width: $xl) {
        order: 0;
        border: 3px solid geen;
      }
    }
    &--order1 {
      @media (min-width: $xl) {
        order: 1;
        align-items: center;
      }
    }
  }
  &__tittle {
    font-size: 1.5rem;
    line-height: 2.2rem;
    font-weight: $font-weight-bold;
    @media (min-width: $xl) {
      font-size: 1.7rem;
      line-height: 2.7rem;
    }
  }
  &__paragraph {
    margin: 0 2rem 0 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
    @media (min-width: $xl) {
      font-size: 1.2rem;
      line-height: 2.2rem;
      margin: 0;
    }
  }
  &__image {
    width: 22rem;
    margin-top: 1.5rem;
    @media (min-width: $xl) {
      margin-top: 8rem;
      width: 32rem;
    }
  }
  

}