.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: .8rem;
  padding: .5rem;
  text-align: center;
  gap: 3rem;
  margin-top: 3rem;
  @media (min-width: $xl) {
    flex-direction: row;
    align-items: start;
    text-align: start;
    gap: 8rem;
    padding: 12rem 6.5rem 6.5rem 6.5rem;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    @media (min-width: $xl) {
      gap: 3rem;

    }
  }
  &__tittle {
    font-size: 1rem;
    line-height: 1.55rem;
    font-weight: $font-weight-bold;
    @media (min-width: $xl) {
      font-size: 1.8rem;
      line-height: 2.5rem;
    }
  }
  &__paragraph {
    margin: 0 1.3rem 0 1.3rem;
    line-height: 1.35rem;
    @media (min-width: $xl) {
      font-size: 1.2rem;
      line-height: 2.2rem;
      margin: 0;
    }
  }

  &__form {
    @media (min-width: $xl) {
      align-self: center;
    }
  }

  &__cta {
    width: 10rem;
    padding: .8rem;
    border-radius: 1.5rem;
    background-color: $neutral-almost-primary;
    color: $neutral-almost-withe;
    font-size: 1rem;
    font-weight: $font-weight-bold;
    box-shadow: 0 0 0.3rem $neutral-medium-gray;
    border: none;
    cursor: pointer;
    @media (min-width: $xl) {
      width: 14rem;
      padding: 1.25rem;
      font-size: 1.2rem;
      
    }
  }
  &__cta a {
    text-decoration: none;
    color: $neutral-almost-withe;
  }

  &__image {
    width: 15.9rem;
    margin-top: 1.5rem;
    @media (min-width: $xl) {
      width: 25rem;
    } 
  }
}