.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 3rem;
  padding: .5rem;
  font-size: .8rem;
  @media (min-width: $xl) {
  }

  &__tittle {
    font-size: 1rem;
    line-height: 1.55rem;
    margin-top: 2rem;
  }
  &__dividing {
    background:  linear-gradient(90deg, rgba(229,40,18,1) 0%, rgba(66,65,67,1) 100%);
    width: 100%;
    height: .4rem;
    border-radius: 5px;
    box-shadow: 0 0 .3rem $neutral-medium-gray;
  }
  &__cards {
    @media (min-width: $xl) {
      display: flex;
      gap: 1.5rem;
    }
  }

  &__card {
    margin-top: 2rem;
    border: 3px solid $neutral-medium-gray;
    border-radius: 1.55rem;
    display: flex;
    flex-direction: column;
    text-align: start;
    background-color: $neutral-almost-withe;
    box-shadow: 0 0 .3rem $neutral-medium-gray;
    
    &-tittle {
      font-size: 1.2rem;
      padding: 1rem;
      text-align: center;
    }
    &-description {
      padding: 0 1.5rem 0 1.5rem;
    }
    &-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
    }

    &-button {
      width: 9rem;
      height: 2.5rem;
      border-radius: 1rem;
      color: $neutral-almost-withe;
      font-size: .8rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .3rem;
      background-color: $neutral-almost-primary;
      box-shadow: 0 0 .3rem $neutral-medium-gray;
      border: none;
      cursor: pointer;
    }
    &-details {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin: 0 1.5rem 1.5rem 3rem;
      list-style-image: url(../../../images/icon-check-list.svg);
    }

  }

}