.stats {
  border-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5rem;
  @media (min-width: $xl) {
    background-color: $neutral-almost-withe;
    flex-direction: row;
    gap: 14rem;
    padding: 1rem;
    margin: 0 6.5rem 0 6.5rem;

  }
  &__image {
    max-width: 25%;
  }
  &__number {
    font-size: 4rem;
    font-weight: $font-weight-bold;
    color: $neutral-almost-primary;
    @media (min-width:$xl) {
      font-size: 5rem;
    }
  }
  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 7rem;
    @media (min-width: $xl) {
      gap: 1rem;
    }
  }
  &__text {
    padding: 0 .2rem 0 .2rem;
    font-size: .8rem;
    @media (min-width: $xl) {
      font-size: 1rem;
    }
  }
}