// Imports


// Colors
$neutral-almost-primary: #E52812;
$neutral-almost-withe: hsl(0, 0%, 98%);
$neutral-medium-gray: hsl(0, 0%, 41%);
$neutral-almost-black: #424143;


// Fonts
$font-size: 20px;
$font-family: 'Lato', sans-serif;
$font-weight-medium: 500;
$font-weight-bold: 700;



// Screen Size
$xsm: 375px;
$xl: 1200px